<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ANS_SEIS_TV.Properties.Settings.ANS_SEIS_TVConnectionString"
            connectionString="Data Source=NATHANIEL-ACER\NATHANIEL;Initial Catalog=ANS_SEIS_TV;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ANS_SEIS_TV.Properties.Settings.ANS_SEIS_TVConnectionString1"
            connectionString="Data Source=NATHANIEL-VX15\NATHANIEL;Initial Catalog=ANS_SEIS_TV;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ANS_SEIS_TV.Properties.Settings.ANS_SEIS_TVConnectionString2"
            connectionString="Data Source=NATHANIEL-VX15\;Initial Catalog=ANS_SEIS_TV;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>